<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.yygh.cmn.mapper.DictMapper">

    <!--<insert id="batchInsert">
        insert dict(id, parent_id, name, value, dict_code)
        <foreach collection="dictList" item="dict" separator="," open="values">
            (#{dict.id},#{dict.parentId},#{dict.name},#{dict.value},#{dict.dictCode})
        </foreach>
    </insert>-->

</mapper>
